version: 2

updates:

# uv lockfile
- package-ecosystem: "uv"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
    # Group all minor and patch updates for GitHub Actions
    # Keep individual updates for major updates
    minor-and-patch:
      update-types:
        - "minor"
        - "patch"

# GitHub Actions
- package-ecosystem: "github-actions"
  directory: "/.github/workflows"
  schedule:
    interval: "daily"
  groups:
    # Group all minor and patch updates for GitHub Actions
    # Keep individual updates for major updates
    minor-and-patch:
      update-types:
        - "minor"
        - "patch"