output/*
__pycache__/
**/__pycache__/
*.pyc
**/*.pyc
*.pyo
*.log
*.tmp
*.egg-info/
build/
dist/
.coverage
htmlcov/
coverage.xml
coverage.json
phu_templates/* __pycache__/
phu_templates/**/*.pyc
phu_templates/*template*
phu_templates/assets/
