[project]
name = "immunization-charts-python"
version = "0.1.0"
requires-python = ">=3.8"
dependencies = [
    "pandas",
    "PyYAML",
    "openpyxl",
    "pypdf",
    "typst>=0.13.2",
    "qrcode>=7.4.2",
    "pillow>=10.4.0",
]

[dependency-groups]
dev = [
    "pytest",
]
