bundling:
  bundle_size: 100
  group_by: null
chart_diseases_header:
- Diphtheria
- Tetanus
- Pertussis
- Polio
- Hib
- Pneumococcal
- Rotavirus
- Measles
- Mumps
- Rubella
- Meningococcal
- Varicella
- Other
date_data_cutoff: '2025-08-31'
date_notice_delivery: '2025-04-08'
encryption:
  enabled: false
  password:
    template: '{date_of_birth_iso_compact}'
ignore_agents:
- RSVAb
- VarIg
- HBIg
- RabIg
- Ig
pdf_validation:
  rules:
    client_id_presence: error
    envelope_window_1_125: warn
    exactly_two_pages: warn
    signature_overflow: warn
pipeline:
  after_run:
    remove_artifacts: false
    remove_unencrypted_pdfs: false
  before_run:
    clear_output_directory: true
map_file: map_school.json
qr:
  enabled: false
  payload_template: https://www.test-immunization.ca/update?client_id={client_id}&dob={date_of_birth_iso}&lang={language_code}
typst:
  bin: typst
  font_path: /usr/share/fonts/truetype/freefont/
