batching:
  batch_size: 100
  group_by: null
chart_diseases_header:
- Diphtheria
- Tetanus
- Pertussis
- Polio
- Hib
- Pneumococcal
- Rotavirus
- Measles
- Mumps
- Rubella
- Meningococcal
- Varicella
- Other
cleanup:
  remove_directories:
  - artifacts
  - by_school
  - batches
  - qr_codes
  remove_extensions:
  - typ
  - json
  - csv
date_today: August 31, 2025
delivery_date: '2025-04-08'
encryption:
  enabled: true
  password:
    template: '{date_of_birth_iso_compact}'
ignore_agents:
- RSVAb
- VarIg
- HBIg
- RabIg
- Ig
pipeline:
  auto_remove_output: true
  keep_intermediate_files: true
qr:
  enabled: true
  payload_template: https://www.test-immunization.ca/update?client_id={client_id}&dob={date_of_birth_iso}&lang={language_code}
typst:
  bin: typst
  font_path: /usr/share/fonts/truetype/freefont/
