name: Run Pytest
'on':
  push:
    branches:
      - '*'
  pull_request:
    branches:
      - '*'
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      typst_ver: 0.13.1
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 2
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: uv sync --group dev
      - name: Install Typst CLI
        run: >
          sudo apt-get update && \ sudo apt-get install -y
          --no-install-recommends curl xz-utils && \ curl -fL -o
          /tmp/typst.tar.xz \
            https://github.com/typst/typst/releases/download/v${{ env.typst_ver }}/typst-x86_64-unknown-linux-musl.tar.xz && \
          tar -xf /tmp/typst.tar.xz -C /tmp/ --strip-components=1 && \ chmod +x
          /tmp/typst && \ sudo mv /tmp/typst /usr/local/bin/typst && \ typst
          --version && \ sudo apt-get purge -y curl xz-utils && \ sudo apt-get
          autoremove -y && \ sudo rm -rf /var/lib/apt/lists/* /tmp/typst.tar.xz
      - name: Run tests
        run: uv run pytest --cov --cov-branch --cov-report=xml

      - name: Upload results to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: WDGPH/immunization-charts-python
